
.container {
    position: relative;
    text-align: center;

    
}
#myVid{
    object-fit: fill;
    height: 400px;
}
.content{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(24, 24, 24);
    color: white;
}
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40pt;
    font-weight: bolder;
}
.page_content{
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
}